:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(43, 43, 43) !important;
}

.mainTitle {
  font-size: 5.2em;
  line-height: 1.1;
  background: linear-gradient(to right, #d86cfc, #E732AA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card {
  opacity: 0.95;
}

.card li {
  color: white !important;
}

.cardtop {
  background: linear-gradient(90deg, magenta, purple);
}

.card-body {
  background-color: #444444;
  color: white !important;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.center-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  margin: 10px;
  padding: 50px;
  width: 80%;
}

.itemsList {
  width: 100%;
}

.searchItems {
  /* Use background for the gradient instead of border-image */
  background: linear-gradient(to right, magenta, purple);
  border-radius: 15px; /* This will now apply correctly */
  padding: 3px; /* This padding creates the border thickness */
  /* The input field inside will cover this background, leaving only the padding visible as a border */
  min-width: 200px;
}

/* Style the input field itself */
.searchItems input.form-control {
  border-radius: 13px; /* Slightly smaller radius to fit inside the wrapper */
  border: none; /* Remove the default input border */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}